<header>
    <h2>EJS MVC</h2>
    <nav class="container">
        <a class="nav-link <%= locals.currentPage && currentPage === 'home' ? 'active' : ''  %> " href="/">Home</a>
        <a class="nav-link <%= locals.currentPage && currentPage === 'about' ? 'active' : ''  %>  " href="/about">About</a>
    </nav>
</header>